@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.ttc') format('truetype');
}

@font-face {
    font-family: 'Avenir-Next';
    src: url('../fonts/Avenir Next.ttc') format('truetype');
}

@font-face {
    font-family: 'Trat';
    src: url('../fonts/Trattatello.ttf') format('truetype');
}



