

body {
    width: auto;
    margin: 0;
    font-family: 'Avenir';
}

.outer-div {
    max-width: auto;
    height: 100%;
    width: 100%;
    background: white;
}

.inner-div {
    height: 100%;

}

.first-fold {
    min-height: 100vh;
    overflow: hidden;
}


.video-filter {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 background: rgba(30, 30, 30, 0.2);
 z-index:1;
}


.main-video {
position: absolute;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
background: transparent url('../media/WearOurTribe.png') no-repeat 0 0;
background-size: cover;

}

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40;
    margin-right: 150px;
    width: auto;
    z-index: 2;
}

.main-logo{
    position: absolute;
    top: 42;
    left: 120;
    z-index: 2;
}

.main-header {
  position: absolute;
  z-index: 3;
  top: 45%;
  left: 45;
  right: 45;
  color: white;
  font-family: 'Trat';

}

.main-header > h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 130pt;
}

.main-header p {
  font-family: 'Avenir';
  text-align: center;
}

.nav {
    display: flex;
    margin: 0;
}
.nav li {
    list-style: none;
}

a {
    padding: 15px;
}

.second-fold {
    min-height: 100vh;
    overflow: hidden;
    margin: 0 50 0 50;
    text-align: center;
}


.container-fluid {
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;

}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.overview-card {
    background: transparent;
    border: thin solid transparent;
    width: 100%;
    display: block;
    font-weight: 900;
    letter-spacing: 1px;
}

#weaving-header {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 120px;
}

.weaves {
    height: 25%;
    display: block;
    margin: auto;
}

#weaving-header h1 {
    font-size: 50px;
    letter-spacing: 6px;
    font-family: Avenir;
    font-weight: bold;
    color: #E76251;
}

.overview-of-weaves {
    text-align: center;
    box-sizing: border-box;
}

.violet {
  color: #72366c;
}

.yellow {
  color: #EBAB38;
}

.red {
  color: #E76251;
}

.blue {
  color: #354D89;
}

.overview-of-weaves h3 {
    margin-top: 70px;
    font-family: avenir;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.overview-of-weaves p {
    padding: 0 30 0 30;
    font-family: avenir;
    font-size: 14px;
    font-weight: 500;
}
.third-fold {
    min-height: 100vh;
    overflow: hidden;
}

.content-first-half {
  height: 50%;
}

.content-second-half {
  height: 50%;
}

.weaver-image {
  height: 100%;
  width: 100%;
}

.overview-of-weaver {
  height: 100%;
  width: 100%;
  background: rgba(35, 31, 32, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overview-of-weaver h1 {
  margin: 0;
  color: white;
  padding: 70 0 10 0;
  font-family: 'Avenir-Next';
  letter-spacing: 15px;
}

.overview-of-weaver h5 {
  font-family: 'Avenir';
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
}

.button {
  background-color: #fdc351;
  border: none;
  color: white;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.button h5 {
  font-size: 10px;
}

#top-left {
  height: 100%;
  width: 100%;
  background: url('../media/Tribe4.jpg');
  background-size: cover;
}

#top-right {
  height: 100%;
  width: 100%;
  background: url('../media/Tribe2.jpg');
  background-size: cover;
}

#bottom-left {
  height: 100%;
  width: 100%;
  background: url('../media/Tribe1.jpg');
  background-size: cover;
}

#bottom-right {
  height: 100%;
  width: 100%;
  background: url('../media/Tribe3.jpg');
  background-size: cover;
}

.top-left {
  padding-left: 0px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
}
.top-right {
  padding-right: 0px !important;
  padding-left: 5px !important;
  padding-bottom: 5px !important;
}

.bottom-left {
  padding-left: 0px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
}

.bottom-right {
  padding-left: 5px !important;
  padding-right: 0px !important;
  padding-top: 5px !important;
}


.container-footer {
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdc351;

}
.footer-text {
  text-align: center;
}

.container-footer > div {
  width: 30%;
}

.footer-picture img {
  display: block;
  margin: 0 auto;
}
